@font-face {
    font-family: 'GT-Super';
    src: url("../fonts/GT-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GT-Super';
    src: url("../fonts/GT-Medium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GT-Super';
    src: url("../fonts/GT-Bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


:root {
    --primary-color: #242424;
    --white-color: #fffdfa;
    --black-color: #080808;
    --floral-color: #fffaf0;
    --gray-color: #6b6b6b;
    --paleWhite-color: #fffdfabf;
    --success-color: #0f5132;
    --success-background: #d1e7dd;
    --danger-color: #842029;
    --danger-background: #f8d7da;
    --warning-color: #ffc107;
}

body {
    position: relative;
    color: #ffa500;
    height: 100%;
    min-height: 100svh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--floral-color);
    color: var(--primary-color);
}

.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GT-Super', sans-serif;
    color: var(--primary-color);
}

h1 {
    font-size: clamp(2.5rem, 10vw, 120px);
    line-height: 0.95;
}

h2 {
    font-size: clamp(2.5rem, 6vw, 3rem);
    line-height: 0.95;
}

.text-black {
    color: var(--primary-color);
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.w-95 {
    width: 95%;
    margin: auto;
}

.hero-img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
}

.write-img {
    width: 1.5rem; 
    height: 1.5rem; 
    object-fit: contain;
}

.blogsy-font {
    text-decoration: none;
    font-family: 'GT-Super';
    color: var(--primary-color);
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 700;
    &:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    border-bottom: 1px solid rgba(107, 107, 107, 0.25);
}



.navbar-nav .nav-link{
    margin: 0 .6rem;
    &:hover {
        color: var(--primary-color);
    }
}

.main-content {
    width: 100%;
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.sign-up-link, .button-style  {
    padding: .5rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid transparent;
    border-radius: 100px;
    text-decoration: none;
    margin-left: 1rem;
    cursor: pointer;
    &:hover {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        background-color: var(--floral-color);
    }
}

.navbar-nav .nav-link {
    font-size: clamp(14px, 1.2vw, 16px);
    color: var(--gray-color);
}

.subtitle {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.2;
}

.login-form, .signUp-form {
    background-color: var(--white-color);
    padding: 3rem;
    width: 30%;
    display: flex;
    gap: 1.5rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 32px rgba(36,36,36,0.12);
}

.signUp-form {
    padding: 2rem;
    width: 40%;
}

.signUp-form .form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

input {
    background-color: whitesmoke;
    opacity: 0.75;
    padding: 0 0.8rem;
    border: 0px solid transparent;
    border-radius: .25rem;
    height: 3rem;
    min-width: 20rem;
    margin-top: 0.3rem;
    outline-color: var(--primary-color);
    color: var(--primary-color);
    &::placeholder {
        color: var(--gray-color);
        font-size: .9rem;
    }
}

.post-form div input {
    background-color: var(--paleWhite-color);
    opacity: 1;
    border: 1px solid rgba(107, 107, 107, 0.25);
    outline: none;
    color: var(--black-color);
    &:focus {
        background-color: white;
        box-shadow: 0 8px 32px rgba(36,36,36,0.25);
    }
}

input[type="file"] {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(107, 107, 107, 0.25);
    background-color: var(--paleWhite-color);
    color: var(--primary-color);
    font-size: 0.95rem;
    border-radius: 6px;
    height: auto;
    min-width: unset;
    max-width: 30%;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-right: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

textarea {
    background-color: var(--paleWhite-color);
    padding: 0.8rem 1rem;
    border: 1px solid rgba(107, 107, 107, 0.15);
    border-radius: .25rem;
    min-height: 120px;
    min-width: 100%;
    max-width: 100%;
    font-size: 1rem;
    color: var(--primary-color);
    resize: vertical;
    outline: none;
    
    &::placeholder {
        color: var(--gray-color);
        font-size: .95rem;
    }
    &:focus {
        background-color: white;
        box-shadow: 0 8px 32px rgba(36,36,36,0.15);
    }
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(107, 107, 107, 0.25);
}

footer .nav-link {
    color: var(--gray-color);
    &:hover {
        color: var(--primary-color)
    }
}

.font-10 {
    font-size: .7rem;
}

.font-11, .create-one {
    font-size: .8rem;
}

.create-one {
    color: var(--primary-color);
    &:hover {
        color: var(--gray-color);
        text-decoration: none;
    }
}

.alert-style {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    padding: .75rem 1rem;
    font-size: .75rem;
    display: flex;
    place-items: center space-between;
    gap: 2rem

}

.alert-danger {
    background-color: var(--danger-background);
    color: var(--danger-color);
    border-color: #f5c2c7;
}

.alert-success {
    background-color: var(--success-background);
    color: var(--success-color);
    border-color: #badbcc;
}

#profileBtn {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary-color);
    color: var(--floral-color);
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 100%;
    transition: all 0.3s ease;
}

#profileBtn:focus {
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    box-shadow: 0 8px 32px rgba(36, 36, 36, 0.20);
    outline: none; /* remove default outline */
}

#profileBtn:hover {
    box-shadow: 0 8px 32px rgba(36, 36, 36, 0.20);
}


.profile-container {
    position: absolute;
    top: 170%;
    right: 2%;
    width: 12rem;
    z-index: 100;
    padding: 2rem 1rem 1rem 1rem;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 0.8rem 0;
    box-shadow: 0 8px 32px rgba(36,36,36,0.12);
    font-size: clamp(14px, 1.2vw, 16px);
}

.logout-link {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid var(--gray-color)
}

.links {
    color: var(--gray-color);
    text-decoration: none;
    
    &:hover {
        color: var(--primary-color);
    }
}

.blog-list {
    width: 65%;
    display: flex;
    flex-flow: column nowrap;
    place-items: end start;
}

.post {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(107, 107, 107, 0.25);
    text-decoration: none;
    gap: 1rem;
} 

.post-content {
    width: 65%;
}

.post-image {
    width: 30%;
}

.blog-author {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    place-items: center center;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--floral-color);
    margin-right: 1rem;
}

.author-profile-img {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary-color);
    color: var(--floral-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 32px rgba(36,36,36,0.12);
}

.post-img-container {
    width: 30%;
}

.text-gray {
    color: var(--gray-color);
}

aside {
    position: sticky;
    top: 0;
    right: 0;
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    place-items: start space-around;
    gap: 2rem;
    padding: 0 4rem 0 2rem ;
    border-left: 1px solid rgba(107, 107, 107, 0.25);
}

.topic {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.3rem 0.3rem 0.3rem 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    font-size: 14px;
}

.follow-content p {
    color: var(--gray-color);
    font-size: 12px;
    max-width: 14rem;
}

.follow-btn {
    padding: 0.25rem 1rem;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.aside-links ul li a {
    font-size: 10px;
    color: var(--gray-color);
    text-decoration: none;
    &:hover {
        color: var(--primary-color);
    }
}

.comment {
    padding: 2rem 0;
    border-block: 1px solid rgba(107, 107, 107, 0.10);
}

.clap-comment-section, .reading-list {
    margin-block: 2rem;
    padding: 1rem 0.5rem;
    border-block: 1px solid rgba(107, 107, 107, 0.25);
}

.custom-width {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 80px ;
        line-height: 72px ;
    }
    .hero-img {
        display: none;
    }
    nav {
        height: 10vh;
    }
    nav .navbar-nav {
        width: 55%;
        justify-content: end;
    }
    .main-content {
        padding: 0;
    }
    .login-form, .signUp-form {
        width: 90%;
        padding: 2rem;
    }
    .signUp-form .form-group {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0;
        margin: 1.5rem 0;
    }
    .alert {
        width: 80%;
    }
    .blog-list {
        width: 90%;
        margin: 2rem auto 0 auto;
    }
    .post {
        width: 100%;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: start;
    }
    .post-content {
        width: 100%;
    }
    .post-image {
        width: 100%;
    }
    aside {
        display: none;
    }
    .custom-width {
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 391px) {
    .signUp-form {
        width: 100%;
        padding: 1rem;
        max-height: 76vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

/* About Page  */
.about-medium-style .hero-section {
    padding: 6rem 0;
}

.about-medium-style p {
    font-size: 1.15rem;
    line-height: 1.8;
    color: #444;
}

/* profile Image  */
.letter-avatar {
    width: 8rem;
    height: 8rem;
    background-color: black;
    color: white;
    font-size: 4.5rem;
    font-weight: bold;
    user-select: none;
}

.edit-btn, .choose-btn {
    padding: .5rem 1.5rem;
    background-color: var(--floral-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
    }
}

.choose-btn {
    background-color: white;
    &:hover{
        color: var(--primary-color);
        background-color: var(--floral-color);
    }
}

.close-btn {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    user-select: none;
    &:hover {
        color: var(--danger-color);
    }
}

.author-profile-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    background-color: transparent;
    margin-right: 1rem;
}

.clapped {
    filter: brightness(0) saturate(100%) invert(60%) sepia(90%) saturate(700%) hue-rotate(-10deg) brightness(100%) contrast(95%);
}

.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;     
    justify-content: center;   
    z-index: 1050;
}

.edit-modal-content {
    background: white;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.edit-modal .close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.list-group-item {
    background-color: var(--paleWhite-color);
}

.list-group-item:hover {
    background-color: white;
}

.list-group-item a {
    max-width: 75%;
    font-family: 'GT-Super', sans-serif;
    color: var(--primary-color);
    font-size: 1.2rem;
    text-decoration: none;
    
}