@font-face {
    font-family: 'GT-Super';
    src: url("../fonts/GT-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GT-Super';
    src: url("../fonts/GT-Medium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GT-Super';
    src: url("../fonts/GT-Bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


:root {
    --primary-color: #242424;
    --white-color: #fffdfa;
    --black-color: #080808;
    --floral-color: #fffaf0;
    --gray-color: #6b6b6b;
    --paleWhite-color: #fffdfabf;
    --success-color: #28a745;
    --danger-color: #e36e79;
    --warning-color: #ffc107;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: var(--floral-color);
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GT-Super', sans-serif;
    color: var(--primary-color);
}

h1 {
    font-size: clamp(2.5rem, 10vw, 120px);
    line-height: 0.95;
}

h2 {
    font-size: clamp(2.5rem, 6vw, 3rem);
    line-height: 0.95;
}

.w-95 {
    width: 95%;
    margin: auto;
}

.hero-img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .hero-img {
        display: none;
    }
    h1 {
        font-size: 80px ;
        line-height: 72px ;
    }
}

.write-img {
    width: 1.5rem; 
    height: 1.5rem; 
    object-fit: contain;
}

.blogsy-font {
    text-decoration: none;
    font-family: 'GT-Super';
    color: var(--primary-color);
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 700;
    &:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
}

body nav {
    border-bottom: 1px solid rgba(107, 107, 107, 0.25);
}

.navbar-nav .nav-link{
    margin: 0 .6rem;
    &:hover {
        color: var(--primary-color);
    }
}

@media (max-width: 768px) {
    nav.navbar {
        height: 8vh;
    }
    nav .navbar-nav {
        width: 50%;
    }
}

.main-content {
    height: 78vh;
}

/* @media (max-width: 768px) {
    .main-content {
        height: vh;
    }
} */

.sign-up-link, .button-style  {
    padding: .5rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid transparent;
    border-radius: 100px;
    text-decoration: none;
    margin-left: 1rem;
    cursor: pointer;
    &:hover {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        background-color: var(--floral-color);
    }
}

.navbar-nav .nav-link {
    font-size: clamp(14px, 1.2vw, 16px);
    color: var(--gray-color);
}

.subtitle {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.2;
}

.login-form, .signUp-form {
    background-color: var(--white-color);
    padding: 3rem;
    width: 30%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 32px rgba(36,36,36,0.12);
}

.signUp-form {
    padding: 2rem;
    width: 40%;
}

.signUp-form .form-group {
    width: 100%;
    display: flex;
    gap: 0 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

input {
    background-color: whitesmoke;
    opacity: 0.75;
    padding: 0 0.8rem;
    border: 0px solid transparent;
    border-radius: .25rem;
    height: 3rem;
    min-width: 20rem;
    margin-top: 0.3rem;
    outline-color: var(--primary-color);
    color: var(--primary-color);
    &::placeholder {
        color: var(--gray-color);
        font-size: .9rem;
    }
}

.post-form div input {
    background-color: var(--paleWhite-color);
    opacity: 1;
    border: 1px solid rgba(107, 107, 107, 0.25);
    outline: none;
    color: var(--black-color);
    &:focus {
        background-color: white;
        box-shadow: 0 8px 32px rgba(36,36,36,0.25);
    }
}

textarea {
    background-color: var(--paleWhite-color);
    padding: 0.8rem 1rem;
    border: 1px solid rgba(107, 107, 107, 0.15);
    border-radius: .25rem;
    min-height: 120px;
    min-width: 100%;
    max-width: 100%;
    font-size: 1rem;
    color: var(--primary-color);
    resize: vertical;
    outline: none;

    &::placeholder {
        color: var(--gray-color);
        font-size: .95rem;
    }
    &:focus {
        background-color: white;
        box-shadow: 0 8px 32px rgba(36,36,36,0.15);
    }
}

footer {
    width: 100%;
    height: 10vh;
    max-height: 11vh;
    border-top: 1px solid rgba(107, 107, 107, 0.25);
}

@media (max-width: 768px) {
    footer {
        height: 8vh;
    }
}

footer .nav-link {
    color: var(--gray-color);
    &:hover {
        color: var(--primary-color)
    }
}

.font-11, .create-one {
    font-size: .8rem;
}

.create-one {
    color: var(--primary-color);
    &:hover {
        color: var(--gray-color);
        text-decoration: none;
    }
}

.alert-message, .success-message {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 3rem;
    background-color: var(--danger-color);
    color: var(--primary-color);
}


.alert-message button, .success-message button {
    margin-left: 2rem;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 100px;
    color: var(--white-color);
}

.success-message {
    background-color: var(--success-color);
}

#profileBtn {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary-color);
    color: var(--floral-color);
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 100%;
    &:focus {
        border: 2px solid var(--primary-color);
        background-color: transparent;
        color: var(--primary-color);
    }
}

.profile-container {
    position: absolute;
    top: 110%;
    right: 2%;
    width: 8%;
    padding: 2rem 1rem;
    padding-bottom: 1rem;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    box-shadow: 0 8px 32px rgba(36,36,36,0.12);
    font-size: clamp(14px, 1.2vw, 16px);
}

.logout-link {
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid var(--gray-color)
}

.links {
    color: var(--gray-color);
    text-decoration: none;
    
    &:hover {
        color: var(--primary-color);
    }
}

