<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Blogsy | 
            {% block title %}    
                Read Write & Connect
            {% endblock %}
        </title>
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
            crossorigin="anonymous"
        >
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/styles.css') }}"
        >
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <div class="layout">
            <nav>
                <div class="d-flex align-items-center justify-content-between {% if user.is_authenticated %} w-95 {% else %}container{% endif %}">
                        <a href="{% if user.is_authenticated %}/home{% else %}/{% endif %}" class="blogsy-font text-left">Blogsy</a>
                        <div class="position-relative navbar-nav d-flex flex-row align-items-center ">
                            {% if user.is_authenticated %}
                                <div class="d-flex align-items-center justify-content-center">
                                    <img
                                    src="{{ url_for('static', filename='images/write.svg')}}"
                                    alt="write and pencile"
                                    class="write-img"
                                    />
                                    <a class="nav-item nav-link " style="margin-left: .5rem; margin-right: 1rem" id="home" href="/write">Write</a>
                                </div>
                                <a class="nav-item nav-link " id="home" href="/home">Home</a>
                                <button id="profileBtn" class="position-relative">
                                    {{ user.first_name[0] }}
                                </button>
                                <div id="profileContainer" class="profile-container d-none">
                                    <div class="w-100 d-flex gap-3">
                                        <img
                                        src="{{ url_for('static', filename='images/profile.svg')}}"
                                        alt="Profile"
                                        class="write-img"
                                        />
                                        <a href="/" class="links">Profile</a>
                                    </div>
                                    <div class="w-100 d-flex gap-3">
                                        <img
                                        src="{{ url_for('static', filename='images/blog.svg')}}"
                                        alt="Profile"
                                        class="write-img"
                                        />
                                        <a href="/" class="links">Blogs</a>
                                    </div>
                                    <div class="w-100 d-flex gap-3 mb-2">
                                        <img
                                        src="{{ url_for('static', filename='images/stories.svg')}}"
                                        alt="Profile"
                                        class="write-img"
                                        />
                                        <a href="/" class="links">Stories</a>
                                    </div>
                                    <a class="logout-link links" id="logout" href="/logout">Logout</a>
                                </div>
                            {% else %}
                                <a class="nav-item nav-link" id="login" href="/login">Login</a>
                                <a class="sign-up-link " id="sign-up" href="/sign-up">Sign Up</a>
                            {% endif %}
                        </div>
                </div>
            </nav>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="container mt-3">
                        {% for category, message in messages %}
                            <div
                            class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show "
                            role="alert"
                            >
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <main class="main-content">
                {% block content %}
                {% endblock %}
            </main>
            {% if request.endpoint != 'views.home' %}
                <footer>
                    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
                        <ul class="nav d-flex ">
                            <li class="nav-item ">
                                <a class="font-11 nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item ">
                                <a class="font-11 nav-link" href="/privacy-policy">Privacy</a>
                            </li>
                            <li class="nav-item ">
                                <a class="font-11 nav-link" href="/terms">Terms</a>
                            </li>
                        </ul>
                        <p class="font-11 mb-0 ">© 2025 Blogsy. All rights reserved.</p>
                    </div>
                </footer>
            {% endif %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>