<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Blogsy | 
            {% block title %}    
                Read Write & Connect
            {% endblock %}
        </title>
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
            crossorigin="anonymous"
        >
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/styles.css') }}"
        >
        <link 
        rel="stylesheet" 
        href="{{ url_for('static', filename='css/styles.css') }}"
        >
    </head>
    <body>
        <nav 
        class="navbar navbar-expand-lg navbar-light bg-transparent d-flex align-items-center" 
        style="height: 12vh;"
        >
            <div class="{% if user.is_authenticated %} w-95 {% else %}container{% endif %}">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <a href="/" class="blogsy-font text-left">Blogsy</a>
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <div class="d-flex align-items-center justify-content-center">
                            <img
                            src="{{ url_for('static', filename='images/write.svg')}}"
                            alt="write and pencile"
                            class="write-img"
                            />
                            <a class="nav-item nav-link " style="margin-left: 0px;" id="home" href="/write">Write</a>
                        </div>
                        <a class="nav-item nav-link" id="home" href="/home">Home</a>
                            <button id="profileBtn" class="position-relative button-style">
                                {{ user.first_name[0] }}
                            </button>
                            <div id="profileContainer" class="profile-container d-none">
                                <a href="/" class="links">Profile</a>
                                <a href="/" class="links">Blogs</a>
                                <a href="/" class="links">Stories</a>
                                <a class="logout-link links" id="logout" href="/logout">Logout</a>
                            </div>
                        {% else %}
                            <a class="nav-item nav-link" id="login" href="/login">Login</a>
                            <a class="sign-up-link " id="sign-up" href="/sign-up">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                    <div class="alert-message alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-bs-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <div class="success-message alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-bs-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="w-100 d-flex justify-content-center align-items-center" style="height: 78vh;">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="d-flex align-items-center " style="height: 10vh;">
            <div class="container d-flex flex-row justify-content-between align-items-center">
                <ul class="nav d-flex ">
                    <li class="nav-item ">
                        <a class="font-11 nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item ">
                        <a class="font-11 nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item ">
                        <a class="font-11 nav-link" href="/privacy">Privacy Policy</a>
                    </li>
                </ul>
                <p class="font-11 mb-0 ">© 2025 Blogsy. All rights reserved.</p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>