<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Blogsy - Read, Write & Connect. A place to share your thoughts and connect with readers." />
        <meta name="keywords" content="Blogsy, blogging, write, read, stories, articles" />
        <meta name="author" content="Blogsy Team" />
        <meta name="robots" content="index, follow" />

        <!-- Title -->
        <title>
            Blogsy | {% block title %}Read, Write & Connect{% endblock %}
        </title>

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Styles -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.css">

        <!-- Trix Editor -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.js"></script>

        <!-- Google Analytics -->
        {% if GA_MEASUREMENT_ID %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_MEASUREMENT_ID }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ GA_MEASUREMENT_ID }}');
            </script>
        {% endif %}
    </head>

    <body>
        <div class="layout">
            <!-- Navbar -->
            <nav>
                <div class="d-flex align-items-center justify-content-between {% if current_user.is_authenticated %}w-95{% else %}container{% endif %}">
                    <a href="{% if current_user.is_authenticated %}/home{% else %}/{% endif %}" class="blogsy-font text-left">Blogsy</a>

                    <div class="position-relative navbar-nav d-flex flex-row align-items-center justify-content-end gap-1">
                    {% if current_user.is_authenticated %}
                        <!-- Write -->
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="{{ url_for('static', filename='images/write.svg') }}" alt="Write Icon" class="write-img" loading="lazy" />
                            <a class="nav-item nav-link {% if request.path == '/write' %}active-write{% endif %}" style="margin-left: .5rem; margin-right: 0.5rem" href="/write">Write</a>
                        </div>

                        <!-- Home -->
                        <a class="nav-item nav-link pe-md-3 pe-2 {% if request.path == '/home' %}active-home{% endif %}" href="/home">Home</a>

                        <!-- Profile Button -->
                        {% if current_user.profile_image %}
                            <img id="profileBtn" src="{{ url_for('static', filename='profile_images/' + current_user.profile_image) }}"
                                alt="{{ current_user.first_name }}'s profile" style="width: 35px; height: 35px; object-fit: cover; cursor: pointer;" loading="lazy" />
                            {% else %}
                            <button id="profileBtn" aria-label="Profile menu">
                                {{ current_user.first_name[0] }}
                            </button>
                        {% endif %}

                        <!-- Profile Dropdown -->
                        <div id="profileContainer" class="profile-container d-none">
                            <div class="w-100 d-flex gap-3">
                                <img src="{{ url_for('static', filename='images/profile.svg') }}" alt="Profile Icon" class="write-img" loading="lazy" />
                                <a href="/{{ current_user.first_name.replace(' ', '-') }}" class="links">Profile</a>
                            </div>
                            <div class="w-100 d-flex gap-3">
                                <img src="{{ url_for('static', filename='images/blog.svg') }}" alt="Reading List Icon" class="write-img" loading="lazy" />
                                <a href="/reading-list" class="links">Reading List</a>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <a class="logout-link" href="/logout">Logout</a>
                            </div>
                        </div>
                    {% else %}
                        <!-- Pricing -->
                        <a class="nav-item nav-link " href="/pricing">Pricing</a>

                        <a class="nav-item nav-link " href="/login">Login</a>
                        <a class="sign-up-link " href="/sign-up">Sign Up</a>
                    {% endif %}
                    </div>
                </div>
            </nav>

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert-style alert-{{ 'danger' if category == 'error' else category }}" role="alert" data-aos="fade-down">
                            <div class="d-flex align-items-center justify-content-start">
                                <span class="d-block no-wrap">{{ message }}</span>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Main Content -->
            <main class="main-content" data-aos="fade-up">
                {% block content %}{% endblock %}
            </main>

            <!-- Footer -->
            {% if request.endpoint != 'views.home' %}
                <footer>
                    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
                        <ul class="nav d-flex">
                            <li class="nav-item"><a class="font-11 nav-link" href="/about">About</a></li>
                            <li class="nav-item"><a class="font-11 nav-link" href="/privacy-policy">Privacy</a></li>
                            <li class="nav-item"><a class="font-11 nav-link" href="/terms">Terms</a></li>
                        </ul>
                        <p class="font-11 mb-0">© 2025 Blogsy. All rights reserved.</p>
                    </div>
                </footer>
            {% endif %}
        </div>

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>
        <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
        <script>
            AOS.init({
            duration: 500,
            once: true
            });
        </script>
    </body>
</html>
