{% extends "base.html" %}
    {% block title %}
        Login
    {% endblock %}
    {% block content %}
        <form 
        method="POST"
        class="login-form"
        >
            <h2>Login</h2>
            <div class="form-group d-flex flex-column mt-3  ">
                <label for="email">Email</label>
                <input 
                type="email" 
                id="email"
                name="email" 
                placeholder="Enter your email" 
                required
                >
            </div>
            <div class="form-group d-flex flex-column mb-2  ">
                <label for="password">Password</label>
                <input 
                type="password" 
                id="password"
                name="password" 
                placeholder="Enter your password" 
                required
                >
            </div>
            <div>
                <span class="font-11">No account?</span>
                <a  href="{{ url_for('auth.sign_up') }}" class="create-one">Create one</a>
            </div>
            <button type="submit" class="button-style">Login</button>
        </form>
    {% endblock %}