{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <div class="login-wrapper">
        <form 
            method="POST"
            class="login-form"
        >
            <h2>Login</h2>
            <div class="form-group d-flex flex-column mt-3">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    id="email"
                    name="email" 
                    placeholder="Enter your email" 
                    required
                >
            </div>
            <div class="form-group d-flex flex-column mb-2">
                <label for="password">Password</label>
                <div class="password-input-wrapper">
                    <input 
                        type="password" 
                        id="password"
                        name="password" 
                        placeholder="Enter your password" 
                        required
                        class="password-input"
                    >
                    <button 
                        type="button" 
                        id="toggle-password" 
                        class="password-toggle-btn"
                        tabindex="-1"
                        aria-label="Toggle password visibility"
                    >
                        <img 
                            id="toggle-icon" 
                            src="{{ url_for('static', filename='images/eye.svg') }}" 
                            alt="Show Password" 
                            class="toggle-icon"
                        />
                    </button>
                </div>
            </div>

            <div class="login-footer">
                <span class="font-11">No account?</span>
                <a href="{{ url_for('auth.sign_up') }}" class="create-one">Create one</a>
            </div>
            <button type="submit" class="button-style">Login</button>
        </form>
    </div>
{% endblock %}