{% extends 'base.html' %}

{% block content %}
    <section class="container d-flex flex-column flex-md-row justify-content-center align-items-center text-left ">
        <div class="w-95 py-4 w-md-50 ">
            <h1>Where thoughtful writing actually lives</h1>
            <p class="subtitle ms-1" style="margin-block: 1.5rem 4rem">
                Write without distractions, follow writers you care about,
                and explore ideas worth reading not just scrolling.
            </p>
            <a  href="/explore" class="button-style ms-1 ">
                Start exploring
            </a>
        </div>
        <div class="w-100 w-md-50">
            <img 
            src="{{ url_for('static', filename='images/hero-image.png') }}"
            alt="Old Printer"
            class="hero-img"
            loading="lazy"
            >
        </div>
    </section>
{% endblock %}
