{% extends 'base.html' %}

{% block content %}
    <section class="container d-flex flex-column flex-md-row justify-content-center align-items-center text-left ">
        <div class="w-95 py-4 w-md-50 ">
            <h1>Read, Write <br/> Connect</h1>
            <p class="subtitle my-5 ">A Place to read and share ideas</p>
            <a  href="{{ url_for('auth.login') }}" class="button-style m-0 ">
                Get started
            </a>
        </div>
        <div class="w-100 w-md-50">
            <img 
            src="{{ url_for('static', filename='images/hero-image.png') }}"
            alt="Old Printer"
            class="hero-img"
            loading="lazy"
            >
        </div>
    </section>
{% endblock %}
