{% extends 'base.html' %}
{% block title %}
    Create a blog
{% endblock %}

{% block content %}
<section class="container my-5">
  <h2 class="mb-4">Create a New Blog Post</h2>

  <form class="post-form" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        class="form-control"
        required
        placeholder="Start with something catchy..."
      >
    </div>

    <div class="mb-4">
      <label for="content" class="form-label">Content</label>
      <!-- Hidden input to store the actual content -->
      <input id="content" type="hidden" name="content">
      <!-- Trix Editor will appear here -->
      <trix-editor input="content" placeholder="Share your thoughts, experiences, or insights"></trix-editor>
    </div>

    <div class="mb-4">
      <label for="tags" class="form-label">Topic</label>
      <input
        type="text"
        id="tags"
        name="tags"
        class="form-control"
        placeholder="e.g. AI, productivity, Mental Health, writing"
      >
    </div>

    <div class="mb-5 mt-4">
      <label for="image" class="form-label">Post Image <small class="ms-2">*required</small></label>
      <input
        type="file"
        id="image"
        name="image"
        class="form-control"
        accept="image/*"
        required
      >
    </div>

    <button type="submit" class="button-style ms-0">Post</button>
  </form>
</section>
{% endblock %}
